html {
    background : #0c0c0e;
    font-family: system-ui;
}
#boutons_boissons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: min-content;;
}
.bouton_vente {
    padding:15px 35px;
    border-radius: 10px;
    background-color: #2e2e30;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;   
    height: fit-content;
}
.bouton_vente:hover {
    border: 1px solid rgb(44, 188, 255);
}
.bouton_vente .nom {
    text-align: center;
    margin-bottom: 8px;
}
.info {
    background-color: rgb(83, 185, 216);
    padding:15px 35px;
    border-radius: 10px;
}
#bouton_krach {
    padding:15px 35px;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #cf4848;
    color: #000;
    cursor: pointer;
    box-sizing: border-box;
}
#bouton_krach.active {
    background-color: rgb(173, 20, 20);
    font-weight: 800;
}
