html {
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(26, 40, 49) 0.3%, rgb(9,15,22) 90.2% );
    font-family: system-ui;
    color: #fff;
    position: relative;
    overflow: hidden;
}
html.active_krach {
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(76, 33, 33) 0.3%, rgb(45, 18, 18) 90.2% );
}
.conteneur {
    padding : 20px;
    border-radius: 12px;
}
body .conteneur{
    background-color: rgba(255, 255, 255, 0.05);
}

#banniere {
    display: flex;
    width:100%;
    height:90px;
    box-sizing: border-box;
}
#titre {
    font-size: 45px;
    font-weight: 700;
    margin-left: 25px;
    align-self: center;
    white-space: nowrap;
}
#cheapest {
    align-self: center;
    width:100%;
    margin-right:20px;
    text-align: right;
}
#cheapest .vertical {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    text-align: left;
    font-size: 1.1em;
}
#cheapest .hashtag_prix {
    font-size: 60px;
    font-weight: 600;
    color: #30ff70;
    font-family: sans-serif;
    margin-left:40px;
    margin-right:5px;
}
#cheapest .indice {
    font-size: 25px;
    font-family: sans-serif;
    margin-right:10px;
}

#afficheur_prix {
    width:100%;
    height:100%;
    border-collapse: collapse;
    min-width:500px;
}
#afficheur_prix th {
    width:33%;
}
#afficheur_prix tr:nth-child(even) {background: rgba(255,255,255,0.06);}

#afficheur_prix tr[growth="positive"] .indice, #afficheur_prix tr[growth="positive"] .prix, #afficheur_prix tr[growth="positive"] .croissance {color : rgb(60, 151, 60);}
#afficheur_prix tr[growth="negative"] .indice, #afficheur_prix tr[growth="negative"] .prix, #afficheur_prix tr[growth="negative"] .croissance {color : rgb(202, 58, 58);}

#afficheur_prix tr .prix {
    font-weight: 700;
}

#afficheur_prix th.cercle, #afficheur_prix th.indice, #afficheur_prix th.prix, #afficheur_prix th.croissance {
    width:fit-content;
    margin-right:2px;
}

#afficheur_prix td.indice, #afficheur_prix td.prix, #afficheur_prix td.croissance {
    text-align: center;
}
